<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/js/jquery.min.js">
    <script src="https://s3.pstatp.com/cdn/expire-1-M/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
<input type="file" id="file">
<input type="submit" id="submit">
</body>
<script>
    $('#submit').click(function () {
        formData = new FormData();
        formData.append("file", $("#file").get(0).files[0]);
        $.ajax({
            type: 'post',
            url: '/shudu/ocr/',
            data: formData,
            dataType: 'json',
            processData: false,
            contentType: false,
            success: function (json) {
                if (json.code == 200) {
                    alert(json.msg)
                } else {
                    alert(json.msg);
                }
            }
        })
    })
</script>
</html>